.top {
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px red solid;
    background-image: url("https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107__340.jpg");
background-repeat: no-repeat;
background-size: cover;

    height:450px}

h1 {
    color: white; 
    font-size: 80px;

}
.bottom{
    display: flex;
    justify-content: space-evenly;
;}
.contact {
    display: flex;
    flex-direction: column;
}